<mat-toolbar color="primary">
  <span routerLink="/" [ngClass]="{'active': isHomePage()}" class="menu-item">WELLNESS CENTER</span>
  <span routerLink="/massages" routerLinkActive="active" class="menu-item">OFERTA</span>
  <span routerLink="/booking/guest" routerLinkActive="active" *ngIf="!(accountService.currentUser$ | async)" class="menu-item">ZAREZERWUJ MASAŻ</span>
  <span *ngIf="!(accountService.currentUser$ | async)" routerLink="/login" routerLinkActive="active" class="menu-item">
    LOGOWANIE</span
  >
  <span *ngIf="!(accountService.currentUser$ | async)" routerLink="/register" routerLinkActive="active" class="menu-item">
    REJESTRACJA</span
  >
  <span routerLink="/contact" routerLinkActive="active" class="menu-item">KONTAKT</span>
  <span *ngIf="accountService.currentUser$ | async">
    <button
      mat-icon-button
      [matMenuTriggerFor]="menu"
      aria-label="Example icon-button with a menu"
    >
      <mat-icon  class="menu-button">dialpad</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <span routerLink="/client-panel">MOJE KONTO</span>
        </button>
      <button mat-menu-item>
        <span (click)="logout()">WYLOGUJ</span>
      </button>
    </mat-menu>
  </span>
</mat-toolbar>
