@{
    ViewData["Title"] = "Home Page";
}

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta nobis voluptatem eligendi, minima, ipsum aut autem totam saepe officia ipsam quia aliquam quam magnam eveniet non quod repellendus eos! Sint. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem debitis, vero odio suscipit distinctio sed quibusdam, maxime ut nisi architecto tempora ipsa earum sit itaque error excepturi porro natus similique? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas qui minima earum beatae unde aliquid fuga a laborum voluptates tempora provident esse, pariatur eos! Fugit impedit voluptatibus aliquid odio. Obcaecati. Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores natus a, odio voluptatem illum, quibusdam numquam perferendis porro, dicta aspernatur voluptates laudantium! Aliquam, aut. Expedita obcaecati iste placeat et cumque. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem cum excepturi eius neque, molestiae error eum atque velit temporibus rem non deleniti nihil voluptatem omnis totam tempore dolor blanditiis accusantium?</p>
<div id="carouselExampleIndicators" class="carousel slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="~/images/news1.jpg" class="d-block w-50 mx-auto" alt="...">
    </div>
    <div class="carousel-item">
      <img src="~/images/news2.jpg" class="d-block w-50 mx-auto" alt="...">
    </div>
    <div class="carousel-item">
      <img src="~/images/news3.jpg" class="d-block w-50 mx-auto" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>