
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();


$Angular-primary: mat.define-palette(mat.$deep-orange-palette, 700, 100, 100);
$textDarkMode: #FFFFFF;
$Angular-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$Angular-warn: mat.define-palette(mat.$red-palette);


$Angular-theme: mat.define-light-theme((
  color: (
    primary: $Angular-primary,
    accent: $Angular-accent,
    warn: $Angular-warn,
    textDarkMode: $textDarkMode
  )
));

@include mat.all-component-themes($Angular-theme);
