<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]Salon fryzjerski - Asia</title>
    <link rel="stylesheet" href="~/css/globalSite.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/mainContent.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div id="registration">Rejestracja</div>
        <div id="login">Logowanie</div>
        <div id="booking">Rezerwacja</div>
        <div id="priceList">Cennik</div>
        <div id="contact">Kontakt</div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer>
    </footer>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
