#scoreContainer {
    display: flex;
    flex-direction: column;
    width: 90vw;
    height: 96%;
    margin-left: auto;
    margin-right: auto;
    background-image: url(../images/backgroundResult.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    border: 2px solid black;
}
#scoreTitle {
    display: flex;
    font-size: 40px;
    margin-top: 2vh;
    color: white;
    background-color: transparent;
}
#scoreResult {
    display: flex;
    justify-content: center;
    flex-direction: row;
    text-align: center;
    width: 90vw;
    height: auto;
    color: white;
    font-size: 20px;
    background-color: transparent;
    margin-top: 5vh;
    margin-bottom: 5vh;
}
.currentPage{
    background-color: red;
    border-radius: 50px;
    padding: 10px;
}
#scoreNameRow, #scoreResultRow {
    margin-right: 5vw;
}
#pageSizeContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 90vw;
    font-size: 20px;
    color: white;
}
.pageSizeRow{
    text-align: center;
    margin-left: 2vw;
}
#pageNumberContainer{
    display: flex;
    flex-direction: row;
    color: white;
    font-size: 60px;
}
#pageCurrentNumber{
    margin: 0 2vw;
}
#pageCount {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 40px;
}
#pageResults, #pageSides{
    margin: 2vh 2vw;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    #scoreContainer {
        border-radius: 10px;
    }
}
@media screen and (min-width: 1200px) {
    #scoreContainer {
        border-radius: 10px;
    }
}