#scoreContainer {
    display: flex;
    flex-direction: column;
    width: 100vw;
    min-height: 84vh;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border: 2px solid #d4d4d4;
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../images/backgroundResult.jpeg);
    overflow-x: hidden;
}

#scoreContainerLeft, #scoreContainerRight {
    margin-left: 5vw;
}

#scoreTitle, #navigatorTitle {
    display: flex;
    margin: 20px 0;
    font-size: 20px;
    font-weight: bold;
}

#scoreResult {
    display: flex;
}

#scoreResultRow, #pageCurrentNumber {
    margin-left: 3%;
    margin-right: 3%;
}

    #scoreNameRow div, #scoreResultRow div, #scoreDateRow div {
        margin-bottom: 20px;
    }

#navigatorResultsContainer div {
    margin-right: 20px;
}

.navigatorContainer {
    display: flex;
    flex-direction: row;
    padding: 20px;
}

.navigatorText {
    display: flex;
    align-items: center;
    margin-right: 3%;
    width: 40%;
}
.navigatorResult {
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    display: flex;
}

.currentPage {
    background-color: orangered;
    font-weight: bold;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    #scoreContainer {
        display: grid;
        grid-template-columns: 2fr 1fr;
        height: 82vh;
        margin: 0 auto;
        border: 2px solid black;
    }
}

@media screen and (min-width: 1200px) {
    #scoreContainer {
        display: grid;
        grid-template-columns: 2fr 1fr;
        height: 84vh;
        margin: 0 auto;
        border: 2px solid black;
    }
}
