<div id="scoreContainer">
    <div id="scoreTitle">STO NAJLEPSZYCH WYNIKÓW:</div>
    <div id="pageSizeContainer">
        <label id="pageSizeLbl">Ilość wyników na stronie:</label>
        <div id="pageSize5" class="pageSizeRow">5</div>
        <div id="pageSize10" class="pageSizeRow">10</div>
        <div id="pageSize25" class="pageSizeRow">25</div>
        <div id="pageSize50" class="pageSizeRow">50</div>
    </div>
    <div id="pageNumberContainer">
        <div id="pageNumberDecrement">&lt</div>
        <div id="pageCurrentNumber">1</div>
        <div id="pageNumberIncrement">&gt</div>
    </div>
    <div id="scoreResult">
        <div id="scoreNameRow"></div>
        <div id="scoreResultRow"></div>
        <div id="scoreDateRow"></div>
    </div>
</div>
<script src="~/js/scores.js"></script>