@model List<Milionaires.Database.Entities.Score>
@{
    ViewData["Title"] = "Najlepsze Wyniki";
}

<div id="scoresContainer">
    <div id="scoresTable">
        <div id="scoresTableTitle">Najlepsze wyniki</div>
        <div id="scoreTableRows">
            @foreach (var score in Model)
            {
                <div class="scoreRow">
                    <div class="name">@score.Name</div>
                    <div class="score">@score.Result</div>
                    <div class="date">@score.Date.ToString("dd/MM/yyyy")</div>
                </div>
            }
        </div>
    </div>
</div>
