<mat-card>
    <mat-card-header>
      <mat-card-title>Formularz logowania</mat-card-title>
    </mat-card-header>
    
    <mat-card-content>
      <mat-form-field>
        <mat-label>Login</mat-label>
        <input matInput>
      </mat-form-field>
      <div class="example-container">
        <mat-form-field>
          <mat-label>Hasło</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </mat-card-content>
  
    <mat-card-actions align="end">
      <button mat-flat-button color="primary">OK</button>
    </mat-card-actions>
  </mat-card>
  