.ml-20{
    margin-left: 10px;
}
.ml-700{
    margin-left: 700px;
}
.mt-10{
    margin-top: 10px;
}
.mt-25{
    margin-top: 25px;
}
.mb-10{
    margin-bottom: 10px;
}
.primary{
    color: #055394;
}
#menu-container{
    margin-left: 1200px;
}