.ml-20{
    margin-left: 10px;
}
.ml-50{
    margin-left: 50px;
}
.ml-700{
    margin-left: 700px;
}
.mt-10{
    margin-top: 10px;
}
.mt-25{
    margin-top: 25px;
}
.mb-10{
    margin-bottom: 10px;
}
.primary{
    color: #055394;
}
.active{
    color: red;
}
#menu-container{
    margin-left: 800px;
}