<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
	  internalLogFile="%USERPROFILE%\Desktop\internalLogger.txt">

	<!-- Dodaj rozszerzenie NLog.Web.AspNetCore -->
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<!-- Dodaj target do zapisu wszystkich wiadomości do ogólnego pliku -->
	<targets>
		<target xsi:type="File" name="allfile" fileName="${specialfolder:folder=Desktop}/allFile.txt" />

		<!-- Dodaj target do zapisu informacji o cyklu życia hostowania do konsoli i osobnego pliku -->
		<target xsi:type="Console" name="lifetimeConsole" />
		<target xsi:type="File" name="ownFile-web" fileName="${basedir}/web.txt" />
	</targets>

	<!-- Zdefiniuj reguły logowania -->
	<rules>

		<!-- Skonfiguruj logowanie wszystkich wiadomości do ogólnego pliku -->
		<logger name="*" minlevel="Trace" writeTo="allfile" />

		<!-- Skonfiguruj logowanie informacji o cyklu życia hostowania do konsoli i osobnego pliku -->
		<logger name="Microsoft.Hosting.Lifetime" minlevel="Info" writeTo="lifetimeConsole, ownFile-web" final="true" />

		<!-- Skonfiguruj logowanie wszystkich wiadomości do osobnego pliku dla logów związanych z aplikacją webową -->
		<logger name="*" minlevel="Trace" writeTo="ownFile-web" />
	</rules>
</nlog>
