.container{
    display: flex;
    width: 100%;
    height: calc(100vh - 50px);
    min-height: 600px;
    justify-content: center;
    align-items: center;
    color: white;
    background-image:url(../../assets/images/background.jpg);
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
  }
  
  @media screen and (min-width: 1200px) {
  }