.container {
  width: 100%;
  height: auto;
  background-color: white;
}

.line {
  width: 100%;
  height: 2px;
  background-color: black;
}
.color-primary {
  background-color: #e64a19;
}
.mat-sidenav {
  display: flex;
  width: 160px;
  flex-direction: column;
  background-color: #e64a19;
}
.sidenav-item {
  margin: 20px;
  color: white;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
}

@media screen and (min-width: 1200px) {
  .mat-sidenav {
    display: none;
  }
}
