<div class="container">
  <app-navbar>
  </app-navbar>

  <mat-sidenav-container class="mat-sidenav-container">
    <mat-sidenav #sidenav [fixedInViewport]="true" [fixedTopGap]="50" mode="side" opened class="color-primary" class="mat-sidenav" *ngIf="isNavbar">

      <div class="sidenav-item">
        <span routerLink="/" [ngClass]="{ active: isHomePage() }" (click)="hideSideNav()">HOME</span>
      </div>

      <div class="sidenav-item">
        <span routerLink="/massages" routerLinkActive="active" (click)="hideSideNav()">OFERTA</span>
      </div>

      <div id="sidenav-reservation" class="sidenav-item">
        <span routerLink="/booking/guest" routerLinkActive="active" *ngIf="!(accountService.currentUser$ | async)" (click)="hideSideNav()">ZAREZERWUJ MASAŻ</span>
      </div>

      <div class="sidenav-item">
        <span *ngIf="!(accountService.currentUser$ | async)" routerLink="/login" routerLinkActive="active" (click)="hideSideNav()">LOGOWANIE</span>
      </div>

      <div class="sidenav-item">
        <span *ngIf="!(accountService.currentUser$ | async)" routerLink="/register" routerLinkActive="active" (click)="hideSideNav()">REJESTRACJA</span>
      </div>

      <div class="sidenav-item">
        <span routerLink="/contact" routerLinkActive="active" (click)="hideSideNav()">KONTAKT</span>
      </div>

    </mat-sidenav>
    <mat-sidenav-content>  <router-outlet></router-outlet></mat-sidenav-content>
  </mat-sidenav-container>
</div>
