.container{
  display: flex;
  width: 100%;
  height: calc(100vh - 50px);
  justify-content: center;
  align-items: center;
  background-image:url(../../assets/images/background.jpg);
}
form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  min-width: 300px;
  height: 60%;
  background-color: #EDEDED;
  border: 2px solid black;
}
#form-login, #form-password{
  width: 70%;
}
label{
  font-size: 30px;
  color: gray;
  margin-bottom: 20px;
}
#btn-hide-password{
  margin-right: 5px;
  margin-left: auto;
}
#btn-container{
  display: flex;
  flex-direction: column;
}
#btn-register{
  margin-top: 20px;
  padding: 30px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  form{
    width: 55%;
  }
}

@media screen and (min-width: 1200px) {
  form{
    width: 40%;
  }
}