<div id="loadingOverlay">
    <div id="loadingMessage">Ładowanie...</div>
</div>

<div id="messageContainer">
    <div id="responseActionDiv">Witaj w aplikacji WordMaster!</div>
</div>

<div id="topPanelContainer">
    <div id="wordInputTopPanelContainer">
        <div id="firstTopPanelRow">
            <label class="label">Polskie słowo:</label><input id="polishWordInput" type="text" class="input">
        </div>
        <div id="secondTopPanelRow">
            <label class="label">Angielskie słowo:</label><input id="englishWordInput" type="text" class="input">
        </div>
    </div>
    <div id="buttonsTopPanelContainer">
        <button id="btnAdd" class="button">Dodaj</button>
        <button id="btnUpdate" class="button">Edytuj</button>
        <button id="btnDisplay" class="button">Wyświetl</button>
        <button id="btnClear" class="button">Wyczyść</button>
    </div>
</div>

<div id="wordsListContainer">
    <div>
        <div id="plWordDivTittle">PL</div>
        <div id="plWordsDiv"></div>
    </div>
    <div>
        <div id="engWordDivTittle">ENG</div>
        <div id="engWordsDiv"></div>
    </div>
</div>

<div id="bottomPanelContainer">
    <div id="firstBottomPanelRow">
        <label id="idLabel" class="label">Szukane Id:</label>
        <input id="idInput" type="text" class="input">
    </div>
    <div id="secondBottomPanelRow">
        <button id="btnSearch" class="button">Szukaj</button>
        <button id="btnDelete" class="button">Usuń</button>
    </div>
    <div id="thirdBottomPanelRow">
        <label id="countWords"></label>
    </div>
</div>