@page
@model _092.HairDressingSalon.Views.Home.BookingModel
@{
}
@*     <p>Kim</p>
    <p>Araya</p>
    <p>Sanya</p>
    <p>Chen</p> *@
<div id="sectionName">
    <div id="hairdresserInfoName">Wybierz fryzjerkę:</div>
    <div id="hairdresserName">Dowolna</div>
    </div>
<div id="sectionTeam">

    <button id="btnPreviousImage">&lt;</button>

    <div id="leftImageTeam"></div>
    <div id="centerImageTeam"></div>
    <div id="rightImageTeam"></div>

    <button id="btnNextImage">&#62;</button>
</div>
<script src="~/js/booking.js"></script>
