<div id="mainContent">
    <div id="sectionIntroduction">
        <div id="imageSectionIntroduction"></div>
        <div id="introductionTitle">Zapraszamy do naszego salonu!</div>
        <div id="introduction">
            <p>Dbamy o Twoje włosy z pasją i zaangażowaniem.</p>
            <p>Doskonale dopasujemy fryzurę do Twoich oczekiwań.</p>
            <p>Chcemy, abyś czuła się wyjątkowo, bo zasługujesz na to.</p>
            <p>Twój wygląd to nasza inspiracja!</p>
        </div>
    </div>
    <div id="descriptionAndOfferBackground">
        <div id="sectionDescription">
            <p>
                Zapraszamy Cię do zanurzenia się w chwilę relaksu i luksusu. Zafunduj sobie, albo bliskiej osobie, chwilę pełną piękna i zadbania o siebie.
                Zarezerwuj termin i zapisz się już dziś. Twoje włosy zasługują na najlepsze!
            </p>
        </div>
        <div id="sectionOffer">
            <div id="offer">
                <ul id="offerPoints">
                    <li>KOLORYZACJA</li>
                    <li>BALEYAGE, PASEMKA</li>
                    <li>KOREKTA KOLORU</li>
                    <li>STRZYŻENIE</li>
                    <li>MODELOWANIE</li>
                    <li>KOKI, UPIĘCIA, FRYZURY OKOLICZNOŚCIOWE</li>
                    <li>PIELĘGNACJA WŁOSÓW</li>
                    <li>KERATYNOWE PROSTOWANIE WŁOSÓW</li>
                </ul>
                <div id="offerLink">
                    <button id="prizeButton"><a asp-area="" asp-controller="Home" asp-action="PriceList">Sprawdź ofertę</a></button>
                </div>
            </div>
            <div id="hairstylesPhotos"></div>
        </div>
    </div>
    <div id="sectionOpinions">
        <div id="opinionsTitle">
            Opinie Klientów:
        </div>
        <div id="opinionsWindow">
            <button id="btnPreviousOpinion">&lt;</button><div id="opinionsContent"></div><button id="btnNextOpinion">&#62;</button>
        </div>
    </div>
</div>
<script src="~/js/index.js" asp-append-version="true"></script>
