<div id="mainContent">
    <div id="sectionOne" class="section">
        <div id="introductionSectionOne">
            <p>Dbamy o Twoje włosy z pasją i zaangażowaniem. Naszym celem jest sprawienie, abyś czuła się wyjątkowo - bo na to zasługujesz.</p>
            <p>Nasi doświadczeni fryzjerzy z wielką uwagą dopasują fryzurę do Twoich indywidualnych oczekiwań. Twój wygląd to nasza inspiracja!</p>
            <p>Zapraszamy Cię do zanurzenia się w chwilę relaksu i luksusu. Zafunduj sobie, albo bliskiej osobie, chwilę pełną piękna i zadbania o siebie.</p>
            <p>Zarezerwuj termin i zapisz się już dziś. Twoje włosy zasługują na najlepsze!</p>
        </div>
    </div>
    <div id="sectionTwo" class="section">
        <button id="btnPreviousImage">Cofnij</button><div id="newsContent"></div><button id="btnPreviousImage">Następny</button>
    </div>
    <div id="sectionThree" class="section">
        <p>Oferta:</p>
        <ul id="offerPoints">
            <li>KOLORYZACJA</li>
            <li>BALEYAGE, PASEMKA</li>
            <li>KOREKTA KOLORU</li>
            <li>MODELOWANIE</li>
            <li>KOKI, UPIĘCIA, FRYZURY OKOLICZNOŚCIOWE</li>
            <li>PIELĘGNACJA WŁOSÓW</li>
            <li>KERATYNOWE PROSTOWANIE WŁOSÓW</li>
        </ul>
    </div>
    <div id="sectionFour" class="section">
    </div>
</div>
