<div id="mainContent">
    <div id="sectionOne">
        <div id="imageSectionOne"></div>
        <div id="introductionTitleSectionOne">Zapraszamy do naszego salonu!</div>
        <div id="introductionSectionOne">
            <p>Dbamy o Twoje włosy z pasją i zaangażowaniem.</p>
            <p>Doskonale dopasujemy fryzurę do Twoich oczekiwań.</p>
            <p>Chcemy, abyś czuła się wyjątkowo, bo zasługujesz na to.</p>
            <p>Twój wygląd to nasza inspiracja!</p>
        </div>
    </div>
    <div id="sectionTwoAndThreeContainer">
        <div id="sectionTwo" class="section">
            <p>
                Zapraszamy Cię do zanurzenia się w chwilę relaksu i luksusu. Zafunduj sobie, albo bliskiej osobie, chwilę pełną piękna i zadbania o siebie.
                Zarezerwuj termin i zapisz się już dziś. Twoje włosy zasługują na najlepsze!
            </p>
        </div>
        <div id="sectionThree" class="section">
            <div id="offer">
                <ul id="offerPoints">
                    <li>KOLORYZACJA</li>
                    <li>BALEYAGE, PASEMKA</li>
                    <li>KOREKTA KOLORU</li>
                    <li>STRZYŻENIE</li>
                    <li>MODELOWANIE</li>
                    <li>KOKI, UPIĘCIA, FRYZURY OKOLICZNOŚCIOWE</li>
                    <li>PIELĘGNACJA WŁOSÓW</li>
                    <li>KERATYNOWE PROSTOWANIE WŁOSÓW</li>
                </ul>
                <div id="offerLink">
                    <button id="prizeButton">Sprawdź ofertę</button>
                </div>
            </div>
            <div id="offerPhotos"></div>
        </div>
    </div>
    <div id="sectionFourAndFiveContainer">
        <div id="sectionFour" class="section">
            <div id="opinionsTitle">
                Opinie Klientów:
            </div>
            <div id="opinionsWindow">
                <button id="btnPreviousOpinion">&lt;</button><div id="opinionsContent">Przykładowa opinia stałego klienta</div><button id="btnNextOpinion">&#62;</button>
            </div>

        </div>
    </div>
</div>
