<div class="container">
  <div id="selectMassageContainer" *ngIf="!isMassageSelected">
    <p>Wybierz rodzaj masażu</p>
    <form #ngForm="ngForm" (ngSubmit)="setServiceName()">
      <mat-form-field>
        <mat-label>Wybierz rodzaj usługi:</mat-label>
        <mat-select [(value)]="massageName">
          <mat-option value="Classic Massage"
            >Zabieg + masaż czekoladą</mat-option
          >
          <mat-option value="Honey Massage">Zabieg + masaż miodem</mat-option>
          <mat-option value="Chocolate Massage">Masaż klasyczny</mat-option>
        </mat-select>
      </mat-form-field>

      <button mat-flat-button color="primary" type="submit">Primary</button>
    </form>
  </div>

    <form #ngForm="ngForm" id="selectTermContainer" *ngIf="isMassageSelected && !isDateSelected" (ngSubmit)="setDateMassage()">
      <div id="selectDateContainer">
        <p>Wybierz dostępną datę:</p>
        <mat-card class="demo-inline-calendar-card">
          <mat-calendar [(selected)]="selected"></mat-calendar>
          
        </mat-card>
      </div>

      <div id="selectHourContainer">
        <p>Wybierz dostępną godzinę:</p>
        <div id="selectHourText" *ngFor="let hour of hours">
          {{ hour }}
        </div>
      </div>
      <button mat-flat-button color="primary" type="submit">Primary</button>
    </form>

  <div id="newBookingContainer" *ngIf="isMassageSelected && isDateSelected">
    <p>Prosimy wypełnić formularz:</p>
    <form #ngForm="ngForm" (ngSubmit)="setGuestInformation()">
      <div class="row">
        <mat-form-field>
          <mat-label>Imię</mat-label>
          <input name="name" [(ngModel)]="model.name" matInput />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Nazwisko</mat-label>
          <input name="surname" [(ngModel)]="model.surname" matInput />
        </mat-form-field>
      </div>
      <mat-form-field>
        <mat-label>E-Mail</mat-label>
        <input name="eMail" [(ngModel)]="model.eMail" matInput />
      </mat-form-field>
      <div class="row">
        <mat-form-field>
          <mat-label>Numer telefonu</mat-label>
          <input name="phoneNumber" [(ngModel)]="model.phoneNumber" matInput />
        </mat-form-field>
      </div>
      <button id="btnSubmit" mat-flat-button color="primary" type="submit">
        Primary
      </button>
    </form>
  </div>
</div>
