.bodyContainer{
  display: flex;
  width: 100%;
  height: auto;
}

.container{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-left: 50px;
    padding-right: 50px;
    background-image:url(../../assets/images/background.jpg);
    font-size: 18px;
    color: white;
  }
  .massageContainer{
    margin-top: 50px;
  }

  .image{
    float: none;
    margin-right: 20px;
    width: 100%;
    height: 300px;
    border-radius: 50px;
  }
  .text{
    color: red !important;
  }
  .hotStonesMassageContainer{
    margin-bottom: 20px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    .image{
      width: 50%;
      float: left;
  }
}
  
  @media screen and (min-width: 1200px) {
    .image{
      width: 30%;
      float: left;
  }
}