<div class="container1">
  <div class="text">
    <p class="title">Witaj w Asia Massage</p>
    <p>Zapraszamy do krainy pełnej harmonii i relaksu, gdzie dbamy o Twoje ciało i umysł.</p>
    <p>Nasi wykwalifikowani terapeuci pomogą Ci odnaleźć wewnętrzny spokój i ulgę od codziennych zgiełków.</p>
    <p>Odkryj nasze rytuały odprężenia, , by przenieść Cię w świat błogiego relaksu i regeneracji.</p>
    <p>Przyjdź i doświadcz prawdziwego luksusu pielęgnacji, odnajdź w sobie równowagę i energię.</p>
    <button mat-flat-button color="primary" class="btnMore" (click)="massages()">Więcej</button>
  </div>
</div>
<div class="container2">

</div>
<div class="container3">
  <div class="text">
    <p>W naszej ofercie mamy wiele rodzajów masaży,</p>
    <p>między innymi: klasyczne, miodem czy czekoladą,</p>
    <p>Każdy z nich ma swoje działanie prozdrowotne,</p>
    <p>Ktory z nich zostanie Twoim faworytem?</p>
  </div>
</div>
<div class="container4"></div>
