<div class="container1">
  <div class="text">
    <p class="title">Witaj w Asia Massage</p>
    <p>Sprawimy, że u nas poczujesz się komfortowo,</p>
    <p>dokładamy wszelkich starań, byś tak się czuł,</p>
    <p>pozwól sobie na odrobinę przyjemności,</p>
    <p>lub zrób z przyjemności rutynę</p>
    <button mat-flat-button color="primary" class="btnMore" (click)="massages()">Więcej</button>
  </div>
</div>
<div class="container2">

</div>
<div class="container3">
  <div class="text">
    <p>W naszej ofercie mamy wiele rodzajów masaży,</p>
    <p>między innymi: klasyczne, miodem czy czekoladą,</p>
    <p>Każdy z nich ma swoje działanie prozdrowotne,</p>
    <p>Ktory z nich zostanie Twoim faworytem?</p>
  </div>
</div>
<div class="container4"></div>
