@page
@model _092.HairDressingSalon.Views.Pages.teamModel
@{
}

<div id="contentTeam">
    <p>Kim</p>
    <p>Araya</p>
    <p>Sanya</p>
    <p>Chen</p>
</div>

<div id="sectionTeam" class="section">
    <button id="btnPreviousImage">Cofnij</button>
    <div id="leftImage"></div>
    <div id="centerImage"></div>
    <div id="rightImage"></div>

    <button id="btnNextImage">Następny</button>
</div>