footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100vw;
    height: 20%;
    margin: 5vh 0;
    font-size: 20px;
    color: white;
}
#contactDetails{
    margin-left: 10vw;
}
#contactDetailsBody{
    margin-top: 2vh;
}
#openingHours{
    margin-left: 10vw;
}
#openingHoursBody{
    margin-top: 2vh;
}