#mainContent {
    width: 100vw;
}

.section {
    display: flex;
    width: 90vw;
    margin-top: 2vh;
    margin-left: 5vw;
}
#sectionOne {
    flex-direction: column;
    background-color: whitesmoke;
    position: relative;
}

#imageSectionOne {
    position: relative;
    width: 100vw;
    height: 90vh;
}
#imageSectionOne::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    left: 20vw;
    top: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
}
#introductionTitleSectionOne{
    top: 5%;
    left: 45%;
    position: absolute;
    font-size: 40px;
    color: black;
}
#introductionSectionOne {
    position: absolute;
    display: flex;
    top: 18%;
    left: 45%;
    flex-direction: column;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 1vw;
    color: black;
    z-index: 1;
}
#sectionTwo {
    display: flex;
    flex-direction: column;
    font-size: 24px;
    margin: 5vh auto 10vh auto;
    color: white;
}
#offerPoints {
    margin-top: 1vh;
    margin-left: 1vw;
    font-size: 20px;
}
#offerPhotos {
    width: 80%;
    height: 80%;
    margin-left: 5vw;
    background-color: gray;
    border: 1px solid white;
}

#sectionThree {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 70vh;
    color: white;
    border-bottom: 1px solid white;
}

#newsContent {
    width: 40vw;
    height: 40vh;
    background-color: lightgray;
    margin-bottom: 3vh;
    border-radius: 50px;
}
#sectionFour {
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid white;
}
#prizeButton{
    margin-top: 5vh;
}
button {
    background-color: gold;
    height: 60px;
    width: 150px;
    border-radius: 5px;
    margin: 0 2vw;
}
