#mainContent {
    width: 100vw;
}

.section {
    display: flex;
    width: 90vw;
    margin-left: 5vw;
}

#sectionOne {
    position: relative;
    flex-direction: column;
}

#imageSectionOne {
    position: relative;
    width: 100vw;
    height: 90vh;
}

    #imageSectionOne::before {
        content: "";
        position: absolute;
        right: 0;
        bottom: 0;
        left: 20vw;
        top: 0;
        background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
    }

#introductionTitleSectionOne {
    top: 5%;
    left: 45%;
    position: absolute;
    font-size: 40px;
    color: black;
}

#introductionSectionOne {
    position: absolute;
    display: flex;
    top: 18%;
    left: 45%;
    flex-direction: column;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 1vw;
    color: black;
    z-index: 1;
}

#sectionTwo {
    display: flex;
    flex-direction: column;
    font-size: 28px;
    margin: 0vh auto 10vh auto;
    padding-top: 5vh;
    color: white;
}

#offerPoints {
    margin-top: 1vh;
    margin-left: 1vw;
    font-size: 20px;
}

#offerPhotos {
    width: 80%;
    height: 80%;
    margin-left: 5vw;
    background-color: gray;
    border: 1px solid white;
}

#sectionTwoAndThreeContainer {
    background-image: url("../images/others/darkHair.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#sectionThree {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 70vh;
    color: white;
}

#opinionsContent {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 40vh;
    border-radius: 50px;
    font-size: 30px;
    color: white;
}

#sectionFour {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#opinionsTitle{
    padding-top: 5vh;
    font-size: 36px;
    color: white;
}
#opinionsWindow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 2vh;
    height: 50vh;
}

#prizeButton {
    margin-top: 6vh;
    background-color: transparent;
    font-size: 24px;
    height: 60px;
    width: 200px;
    border-radius: 5px;
    color: white;
}

#opinionsWindow button {
    background-color: transparent;
    font-size: 50px;
    height: 125px;
    width: 125px;
    border-radius: 5px;
    color: white;
    margin: 0 2vw;
}

#sectionFourAndFiveContainer {
    width: 100%;
    height: 100%;
    background-image: url("../images/others/opinionsImage.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
