#sectionTeam {
    margin-top: 3vh;
    color: white;
}

#sectionTeam {
    display: flex;
    justify-content: center;
    align-items: center;
}

#sectionTeam {
    margin-bottom: 3vh;
    height: 70vh;
}
#centerImage {
    width: 70vh;
    height: 60vh;
    margin: 0 1vw;
    border-radius: 10px;
    border: 1px solid white;
}

#leftImage, #rightImage {
    width: 40vh;
    height: 30vh;
    margin: 0 1vw;
    border-radius: 10px;
    border: 1px solid white;
}

#sectionTeam button {
    background-color: royalblue;
    height: 60px;
    width: 100px;
    border-radius: 5px;
    margin: 0 2vw;
}