#bottomPanelContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 26vh;
}

#firstBottomPanelRow,
#secondBottomPanelRow {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#buttonsBottomPanelContainer {
    display: flex;
    flex-direction: row;
    width: 40vw;
}
.buttonBottom {
    justify-content: center;
    align-items: center;
    width: 15vw;
    height: 40px;
    margin-left: 1vw;
    font-weight: bold;
    transition: background-color 0.3s ease;
}
#btnSearch{
    margin-left: 5vw;
}

#secondBottomPanelRow {
    justify-content: center;
}

#firstBottomPanelRow, #secondBottomPanelRow {
    margin-top: 1%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#countWords {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
    width: 50vw;
    height: 30px;
    font-size: 20px;
    font-weight: bold;
    border: 1px solid black;
    background-color: #F5F5F5;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
}

@media screen and (min-width: 1200px) {
}