#topPanelContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 25vh;
}

#firstTopPanelRow,
#secondTopPanelRow {
    display: flex;
    width: 100%;
}

#buttonsTopPanelContainer {
    display: flex;
    flex-direction: row;
}

.buttonTop {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 20vw;
    height: 40px;
    font-weight: bold;
    color: #404040;
    transition: background-color 0.3s ease;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
}

@media screen and (min-width: 1200px) {
}