.container{
    display: flex;
    width: 100%;
    height: calc(100vh-50px);
    min-height: 600px;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    background-image:url(../../assets/images/background4.jpg);
  }
  #userDataContainer{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    color: white;
  }
  #userDataEditor{
    display: flex;
    flex-direction: column;
  }
  label, input{
    margin-bottom: 20px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
  }
  
  @media screen and (min-width: 1200px) {
  }