<div id="gameContainer">

    <div id="leftGameContainer"></div>
    <div id="currentPassword"></div>
    <div id="inputPassword"></div>

    <div id="rightGameContainer"></div>
    <div id="score"></div>
    <div id="hangman"></div>

</div>